.New_Collection {
    display: flex;
    flex-direction: column; /* Changed to column to stack items vertically */
    /* align-items: center; */
    height: 90vh;
    margin-top: 20px; /* Reduced margin-top for better positioning */
    text-align: center; 
    margin-bottom: 25%;
}

.New_Collection h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
    margin-top: 100px; /* Reset top margin */
    margin-bottom: 20px; /* Adjusted bottom margin for spacing */
}

.New_Collection hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525; 
}

.Collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;

}

